/*  */

body,
input,
a {
  font-family: sans-serif
}

body {
  margin: 0
}

form-navegacion {
  display: block;
  padding: 0.5em;
  text-align: right
}

form-navegacion * {
  vertical-align: middle;
}

form-navegacion,
form-navegacion * {
  background-color: #1A237E;
  color: white
}

header {
  text-align: center;
  /* Evita que los márgenes colapsen en el borde. */
  overflow: auto
}

header,
header * {
  background-color: #3F51B5;
  color: white
}

header a,
header [type="button"],
header [type="submit"] {
  border: none;
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer
}

main {
  max-width: 600px;
  margin: 0 auto;
}

p {
  margin: 1em
}

p img {
  max-width: 100%
}

label {
  display: block;
  font-size: small;
  color: #FF4081
}

label>* {
  display: block;
  width: 100%;
  color: black
}